	<h2>{{translate 'authors_label'}}</h2>
    <!--table id="clog-author-table" cols="4" class="listHier speciallistHier"-->
    <table id="clog-author-table">
		<thead>
		<tr>
			<th width="20%"><div><a href="javascript:;" id="clog-sortbyname">{{translate 'author_label'}}</a></div></th>
			<th width="10%"><div><a href="javascript:;" id="clog-sortbynumberposts">{{translate 'posts'}}</a></div></th>
			<th width="20%"><div><a href="javascript:;" id="clog-sortbylastpost">{{translate 'dateOfLastPostHeader'}}</a></div></th>
			<th width="45%"><div><a href="javascript:;" id="clog-sortbynumbercomments">{{translate 'number_of_comments_label'}}</a></div></th>
			{{#unless onGateway}}<th width="5%"><div>RSS</div></th>{{/unless}}
		</tr>
		</thead>
		<tbody id="clog-authors">
		</tbody>
	</table>
