	<h2>{{translate 'group_blogs_label'}}</h2>
    <table id="clog_group_table" cols="4" class="listHier speciallistHier">
		<thead>
		<tr>
			<th width="20%"><div>{{translate 'group_label'}}</div></th>
			<th width="10%"><div>{{translate 'posts'}}</div></th>
			<th width="20%"><div>{{translate 'dateOfLastPostHeader'}}</div></th>
		</tr>
		</thead>
		<tbody>
		{{#each groups}}
		<tr>
			<td><a href="javascript:;" onclick="clog.switchState('groupPosts', {'groupId': '{{id}}', 'groupTitle': '{{title}}'});">{{title}}</a></td>
			<td>{{totalPosts}}</td>
			<td>{{formattedLastPostDate}}</td>
		</tr>
		{{/each}}
		</tbody>
	</table>
