<div id="clog_toolbar_items_wrapper" class="navIntraTool actionToolBar">
	<div id="clog_toolbar_items">
        <select id="clog_toolbar_dropdown">
            <option value="{{translate 'menu_label'}}">{{translate 'menu_label'}}</option>
            <option value="home">{{translate 'home_label'}}</option>
            <option value="viewMembers">{{translate 'view_members_label'}}</option>
            <option value="userPosts">{{translate 'my_clog_label'}}</option>
            <option value="createPost">{{translate 'create_post_label'}}</option>
            <option value="permissions">{{translate 'permissions_label'}}</option>
            <option value="preferences">{{translate 'preferences_label'}}</option>
            <option value="viewRecycled">{{translate 'recycle_bin_label'}}</option>
        </select>
	</div>
</div>
