	<h2>{{translate 'recycle_bin_label'}}</h2>
        <div id="postsWrapper">
            <input type="button" id="clog_really_delete_button" value="{{translate 'del'}}"/>
            <input type="button" id="clog_restore_button" value="{{translate 'restore'}}"/>
            {{#if posts.length}}
            <div id="posts">
  	            <table class="tableHeader">
		            <tbody>
			            {{#each posts}}
			            <tr>
				            <td valign="top" width="20px"><input type="checkbox" id="{{id}}" class="clog_recycled_post_checkbox"/></td>
				            <td><div id="post_{{id}}"></div></td>
			            </tr>
			            {{/each}}
		            </tbody>
		        </table>
		    </div>
            {{else}}
            <div id="noPostsLabel"><span>{{translate 'noPosts'}}</span></div>
            {{/if}}
	    </div>
	</div>
