    <li id="clog_home_link" class="firstToolBarItem" role="menuitem"><span class="current"><a title="{{translate 'home_tooltip'}}" href="javascript:;">{{translate 'home_label'}}</a></span></li>
    <li id="clog_view_authors_link" role="menuitem"><span><a title="{{translate 'view_members_tooltip'}}" href="javascript:;">{{translate 'view_members_label'}}</a></span></li>
    <li id="clog_my_clog_link" role="menuitem"><span><a title="{{translate 'my_clog_tooltip'}}" href="javascript:;">{{translate 'my_clog_label'}}</a></span></li>
    <li id="clog_create_post_link" role="menuitem" style="display: none;"><span><a title="{{translate 'create_post_tooltip'}}" href="javascript:;">{{translate 'create_post_label'}}</a></span></li>
    <li id="clog_groups_link" role="menuitem" style="display: none;"><span><a title="{{translate 'group_blogs_tooltip'}}" href="javascript:;">{{translate 'group_blogs_label'}}</a></span></li>
    <li id="clog_permissions_link" role="menuitem"><span><a title="{{translate 'permissions_tooltip'}}" href="javascript:;">{{translate 'permissions_label'}}</a></span></li>
    <li id="clog_recycle_bin_link" role="menuitem"><span><a title="{{translate 'recycle_bin_tooltip'}}" href="javascript:;">{{translate 'recycle_bin_label'}}</a></span></li>
    <li id="clog_my_public_posts_link" role="menuitem" style="display: none;"><span><a title="{{translate 'my_public_posts_tooltip'}}" href="javascript:;">{{translate 'my_public_posts_label'}}</a></span></li>
