	<div id="clog_author_profile"></div>
	{{#unless posts.length}}
	<div id="noPostsLabel"><span>{{translate 'noPosts'}}</span></div>
	{{else}}
	<div style="clear: left; margin-top: 10px;" id="viewOptions">
   		<input type="checkbox"
                 {{#unless showBody}} checked {{/unless}}
                 onclick="clog.toggleFullContent(this);"/>
		<span>{{translate 'show_title_only_label'}}</span>{{#if showRSS}}&nbsp;<a target="_blank" href="/direct/clog-rss/user/{{creatorId}}.xml{{#unless onGateway}}?siteId={{siteId}}{{/unless}}" title="{{translate 'user_rss_tooltip'}}"><img src="/library/image/silk/feed.png"/></a>{{/if}}
   	</div>
	{{/unless}}
    <div id="postsWrapper">
    	<br />
  	 	<div id="posts">
	  	    <table class="tableHeader">
				<tbody>
					{{#each posts}}
					<tr>
						<td>
							<div id="post_{{id}}"></div>
						</td>
					</tr>
					{{/each}}
				</tbody>
			</table>
		</div>
	</div>
